<table style="border: 1px solid #ddd; background-color: #3d57a2; padding: 10px; width: 100%; text-align: left;">
    <tr>
      <td><img src="<%= logo %>" alt="Logo" style="width: 50px; height: 50px;"></td>
      <td>
        <p><strong>[Name Not Provided]</strong></p> 
        <p>Email: <%= email %></p>
        <p>Phone: <%= phone %></p>
      </td>
    </tr>
  </table>
  