<table style="border: 1px solid #ddd; padding: 10px; width: 100%; text-align: left;">
    <tr>
      <td><img src="<%= logo %>" alt="Logo" style="width: 50px; height: 50px;"></td>
      <td>
        <p><strong><%= fullName %></strong></p>
        <p>Email: [Email Not Provided]</p> 
        <p>Phone: <%= phone %></p>
      </td>
    </tr>
  </table>
  